nav
  .site-title
    a(href='/')
      h1 Blog GOMYCODE
    p A Net GOMYCODE Site
  ul
    li
      a(href='/') Home Page
    li
      a(href='/services') Our Services
    li
      a(href='/contact-us') Contact Us