nav
  .site-title
    a(href='/')
      h1 Website
    p Express Checkpoint
  ul
    li
      a(href='/') Home Page
    li
      a(href='/services') Our Services
    li
      a(href='/contact-us') Contact Us