html
   head
      title Error 404
   body
      include ./partials/head.pug
      include ./partials/nav.pug

      h3
        .not-found.content
          | OOPS, page not found :)
          
      include ./partials/footer.pug

