html
   head
      title Error 404
   body
      include ./partials/head.pug
      include ./partials/nav.pug

      h2 
        .not-found.content
          | OOPS, page not found :)

      include ./partials/footer.pug

