html
   head
      title Our Services
   body
      include ./partials/head.pug
      include ./partials/nav.pug
      
      div.blogs.content
        h2 All Services We Provide: 
        - if (blogs.length > 0)
            each blog in blogs
                h3.title #{blog.title}
                p.snippet #{blog.snippet}
        - else
            p There are no services to display...

      include ./partials/footer.pug